<!doctype html>
<html>
<head>
 <meta charset="UTF8">
 <meta name="viewport" content=""width=device-width, initial-scale="1.0">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <title>Clothing Store - {{ page_title }}</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  {% include 'user.html' %}
  {% include 'header.html' %}
  {% include 'nav.html' %}
  {% block content %}{% endblock %}
  {% include 'footer.html' %}
</body>
</html>
