<nav>
    <!--<a href="/">Home</a> - <a href="/about">About</a>
    <a href="{{url_for('name')}}">Name</a>-->

    <div class="navbar">
        <button class="logo">HHW</button>
            <div class="navbar_links">
                <a class="nav_links" href="/about">ABOUT US</a>
                <a class="nav_links" href="/about">RESULTS + DATA</a>
                <a class="nav_links" href="/about">GALLERY</a>
            </div>
        <button class="join_us">JOIN US</button>
    </div>

    


 </nav>



 